<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.wisespend.wisespend" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wisespend" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewContactActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="me.wisespend.wisespend.NewContactActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrganizationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="me.wisespend.wisespend.OrganizationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivities"
            android:label="@string/title_activity_detail_activities" >
        </activity>
        <activity
            android:name=".Transaction"
            android:label="@string/title_activity_transaction" >
        </activity>
    </application>

</manifest>
